/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: floralwhite;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

/* Todo List App */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  background-color: navajowhite;
  border-radius: 10px;
  box-shadow: 0 0 5px #222;
  padding: 10px;
}

.container h2 {
  text-align: center;
  margin-top: 0;
  letter-spacing: 1px;
  position: relative;
}
.container h2::after {
  content: "";
  width: 100px;
  height: 3px;
  border-radius: 5px;
  background-color: tomato;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.container-input {
  margin-top: 30px;
  text-align: center;
}

.container-input input[type="text"] {
  width: calc(100% - 80px);
  padding: 10px;
  margin-right: 5px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 12px;
  cursor: pointer;
}
.container-input input[type="text"]:focus {
  outline: none;
  background-color: #eee;
}

.container-input button {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  color: #222;
}

/* append child */
li {
  margin-top: 10px;
  padding: 10px;
  list-style-type: none;
  background-color: floralwhite;
  border-radius: 20px;
  font-size: 12px;
  position: relative;
}

i {
  position: absolute;
  right: 20px;
  font-size: 17px;
}

i:nth-child(2) {
  position: absolute;
  right: 40px;
  font-size: 17px;
}
.marked {
  text-decoration: line-through;
}